            <ons-card>
            {% for edit_user_address in edit_user_addresses %}
            <div style="text-align: left">
                <p>
                    <ons-input id="consignee" modifier="underbar" placeholder="收件人" style="width: 100%" float>{{ edit_user_address['consignee']}}</ons-input>

                </p>
                <p>
                    <ons-input id="mobile" modifier="underbar" placeholder="手机号" style="width: 100%" float>{{ edit_user_address['mobile'] }}</ons-input>
                </p>
                <p>选择所在地区</p>

                <p>
                    <ons-select id="sel-province" modifier="underbar" onclick="fn.User.Getprovince()">
                        <option value="0">{{ edit_user_address['provice'] }}</option>
                    </ons-select>
                </p>

                <p>
         <ons-select id="sel-city" modifier="underbar" onclick = "fn.User.Getcity(this)" >
                        <option value="0" >{{ edit_user_address['city'] }}</option>

                    </ons-select>
                </p>
                <p>
                    <ons-select id="sel-district" modifier="underbar" onclick="fn.User.Getdistrict()">
                        <option value="0">{{ edit_user_address['district'] }}</option>
                    </ons-select>
                </p>

                <p>
                    <ons-input id="edit_show_address" modifier="underbar" placeholder="详细地址" style="width: 100%" float>{{ edit_user_address['address'] }}</ons-input>
                </p>
                <p>
                    <ons-input id="edit_show_zipcode" modifier="underbar" placeholder="邮编" style="width: 100%" float>{{ edit_user_address['zipcode'] }}</ons-input>
                </p>
                <p>
                    <label class="left">
                        <ons-checkbox input-id="check-set-default"></ons-checkbox>
                    </label>
                    <label for="check-set-default" class="center">
                        设为默认
                    </label>
                </p>
                <p>
                     <ons-button modifier="large" id="submit-new-address" onclick="fn.User.checkaddress()">确定</ons-button>
                </p>
            </div>
            {% end %}
        </ons-card>
<script>
                $(document).ready(function () {
                    $('#edit_show_zipcode').val('this is a test')
                });
            </script>