            <ons-card>
            {% for edit_user_address in edit_user_addresses %}
            <div style="text-align: left">
                <p>
                    <ons-input id="consignee" modifier="underbar" placeholder="收件人" style="width: 100%" float></ons-input>

                </p>
                <p>
                    <ons-input id="mobile" modifier="underbar" placeholder="手机号" style="width: 100%" float></ons-input>
                </p>
                <p>选择所在地区</p>
                {% for user_address in user_addresses %}
                <p>
                    <ons-select id="sel-province" modifier="underbar" onclick="fn.User.GetEditprovince()">
                        <option value="{{  user_address.provice}}">{{ edit_user_address['provice'] }}</option>
                    </ons-select>
                </p>

                <p>
         <ons-select id="sel-city" modifier="underbar" onclick = "fn.User.Getcity(this)" >
                        <option value="{{ user_address.city }}" >{{ edit_user_address['city'] }}</option>

                    </ons-select>
                </p>
                <p>
                    <ons-select id="sel-district" modifier="underbar" onclick="fn.User.Getdistrict()">
                        <option value="{{ user_address.district }}">{{ edit_user_address['district'] }}</option>
                    </ons-select>
                </p>
                {% end %}
                <p>
                    <ons-input id="address" modifier="underbar" placeholder="详细地址" style="width: 100%" float></ons-input>
                </p>
                <p>
                    <ons-input id="zipcode" modifier="underbar" placeholder="邮编" style="width: 100%" float></ons-input>
                </p>
                <p>
                    <label class="left">
                        <ons-checkbox input-id="check-set-default"></ons-checkbox>
                    </label>
                    <label for="check-set-default" class="center">
                        设为默认
                    </label>
                </p>
                <p>
                     <ons-button modifier="large" id="submit-new-address" onclick="fn.User.Eidtcheckaddress()">确定</ons-button>
                </p>
            </div>


                <script>
                $(document).ready(function () {
                    //alert('{{ edit_user_address['consignee'] }}')
                    $('#consignee').val('{{ edit_user_address['consignee'] }}')
                    $('#mobile').val('{{ edit_user_address['mobile'] }}')
                    $('#address').val('{{ edit_user_address['address'] }}')
                    $('#zipcode').val('{{ edit_user_address['zipcode']}}')
                    var is_default = {{ edit_user_address['is_default'] }}
                    if( is_default == 1){
                    $("[input-id='check-set-default']").prop('checked', true);
                    }else{
                    $("[input-id='check-set-default']").prop('checked', false);

                    }
                });
</script>
                {% end %}
        </ons-card>
